*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Courier New', Courier, monospace;
}

header{
    background-color: black;
    color: white;
    border: 20px;
    padding: 10px;
    margin-bottom: 50px;
}
h3{
    text-transform: uppercase;
    text-align: center;
}
h1{
    text-align: center;
}
.all{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.conteudo{
    text-align: center;
}
.conteudo p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.container{
    max-width: 800px;
    max-height: 400px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.ball{
    background-color: rgb(17, 0, 255);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

button{
    width: 250px;
    height: 40px;
    background-color: rgb(162, 0, 255);
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    margin-bottom: 20px;
}

button:hover{
    background-color: rgb(88, 3, 122);
}

.bom{
    background-color: rgb(13, 219, 75);
}

.maybe{
    background-color: rgb(181, 219, 13);
}

.hard{
    background-color: rgb(237, 255, 0);
    color: black;
}

.raro{
    background-color: red;
}

